<div class="navbar-brand-box horizontal-logo">
    <a href="{% url 'home' %}" class="logo logo-dark">
        <span class="logo-sm">
            <span>SEO</span><span>EASY</span>
        </span>
        <span class="logo-lg">
            <span>SEO</span><span>EASY</span>
        </span>
    </a>

    <a href="{% url 'home' %}" class="logo fw-medium fs-5xl">
        <span class="logo-sm">
            <span class="text-white">SEO</span><span class="text-warning">EASY</span>
        </span>
        <span class="logo-lg">
            <span class="text-white">SEO</span><span class="text-warning">EASY</span>
        </span>
    </a>
</div>