{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Starter {% endblock title %} 


{% block main_title %}

<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-md-5">
            {% block pagetitle %}
                {% include "partials/page-title.html" with pagetitle="Pages" title="Starter" %}
            {% endblock pagetitle %}
   
        </div><!--end col-->
        <div class="col-md-auto ms-auto">
            {% block customizer %}
                {% include "partials/customizer.html" %}
            {% endblock customizer %}
        </div><!--end col-->
    </div><!--end row-->
</div>
    
{% endblock main_title %}

{% block content %}
{% endblock content %}
