<form id="research-form" action="{%url 'keyword_research' %}" method="POST" class="my-3">
    {% csrf_token %}
    <div class="row">
        <div class="col-xl-6 col-sm-12 mb-2">
            <input required name="keyword" type="text" class="form-control" placeholder="keyword input">
        </div>
        <div class="col-xl-2 col-sm-4 mb-2">
            <select class="form-control" data-choices name="country_code">
                {% for item in country_data%}
                    <option {%if item.location_name == 'Vietnam' %}selected{%endif%} value="{{item.location_code}}">{{item.location_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xl-2 col-sm-4 mb-2">
            <select name="language_code" class="form-select" aria-label="default">
                {% for item in language_data %}
                <option value="{{item.language_code}}">{{item.language_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xl-2 col-sm-4 mb-2">
            <div class="d-flex">
                <div class="btn-group">
                    <i data-bs-auto-close="outside" class="ri-settings-4-line fs-2 me-3 text-primary btn p-0"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-xl p-4">
                        <div class="mb-2">
                            <label class="form-label" for="search_include">Include</label>
                            <input name="filter_include" data-choices data-choices-limit="5" data-choices-removeItem class="form-control" id="search_include" type="text" value="" >
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="search_exclude">Exclude</label>
                            <input name="filter_exclude" data-choices data-choices-limit="5" data-choices-removeItem class="form-control" id="search_exclude" type="text" value="" >
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="">Volume</label>
                            <div class="d-flex gap-3">
                                <input name="filter_volume_min" class="form-control" type="number" value="" placeholder="from">
                                <input name="filter_volume_max" class="form-control" type="number" value="" placeholder="to">
                            </div>
                        </div>
                        <div class="btn btn-primary float-end dropdown-menu-close">Done</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-label form-control search-btn">
                    <i class="ri-search-line label-icon align-middle fs-lg me-2"></i> Search
                </button>
            </div>
        </div>
    </div> 
</form>