<form action="" class="my-3">
    <div class="row">
        <div class="col-xl-2 col-sm-4 mb-2">
            <select class="form-control" data-choices data-choices-search-false name="choices-single-default" id="choices-single-default">
                <option value="Choice 2">Relate</option>
                <option value="Choice 1">Exact match</option>
            </select>
        </div>
        <div class="col-xl-4 col-sm-8 mb-2">
            <input type="text" class="form-control" placeholder="keyword input">
        </div>
        <div class="col-xl-2 col-sm-4 mb-2">
            <select class="form-control" data-choices name="choices-single-default" id="choices-single-default">
                <option value="">Country</option>
                <option value="Choice 1">Choice 1</option>
                <option value="Choice 2">Choice 2</option>
                <option value="Choice 3">Choice 3</option>
            </select>
        </div>
        <div class="col-xl-2 col-sm-4 mb-2">
            <select class="form-control" data-choices name="choices-single-default" id="choices-single-default">
                <option value="">Language</option>
                <option value="Choice 1">Choice 1</option>
                <option value="Choice 2">Choice 2</option>
                <option value="Choice 3">Choice 3</option>
            </select>
        </div>
        <div class="col-xl-2 col-sm-4 mb-2">
            <button type="button" class="btn btn-success btn-label form-control">
                <i class="ri-search-line label-icon align-middle fs-lg me-2"></i> Search
            </button>
        </div>
    </div> 
</form>
