{% extends 'c_partials/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block main_title %}
    <div class="page-title-box mt-1">
        <div class="row align-items-center gy-3">
            <div class="col-md">
                <h1 class="page-title text-capitalize fw-medium fs-2 text-center">Keyword Analysis</h1>
                <p class="mb-0 page-sub-title text-center fs-5">Group keyword, classify search intent, top competitors...</p>
            </div>
            <div class="col-md-auto ms-auto">
            </div>
        </div>
    </div>
{% endblock main_title %}


{% block content %}  
<div class="row">
    <div class="col-12">
        {% include 'app_market_explorer/elements/keyword_analysis__input_form.html' %}
        <div class="card mt-5">
            <div class="card-body border-bottom">
                <h2 class="text-center my-5">Analysis history</h2>
                
                <table class="table table-hover" id="history_table">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="checkAll" value="option1">
                                </div>
                            </th>
                            <th scope="col">Num</th>
                            <th scope="col">Name</th>
                            <th scope="col">Keywowrd count</th>
                            <th scope="col">Time</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6">
                                <div class="text-center p-5">
                                    <div class="spinner-border text-primary" role="status" style="width:2rem; height: 2rem;">
                                        <span class="visually-hidden"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{%static 'custom/js/common_action.js'%}"></script>
<script src="{%static 'custom/js/table_action.js'%}"></script>
<script src="{%static 'app_market_explorer/keyword_analysis.js'%}"></script>

<script>
    let get_history_endpoint = "{% url 'keyword_analysis_item_list' %}";
</script>
<script>
    $(document).ready(function(){
        on_change_country()
        load_analysis_history()
    })
</script>
{% endblock %}