{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Remix {% endblock title %} 


{% block main_title %}

                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            {% block pagetitle %}
                                {% include "partials/page-title.html" with pagetitle="Icons" title="Remix" %}
                            {% endblock pagetitle %}
                        </div><!--end col-->
                        <div class="col-md-auto ms-auto">

                            {% block customizer %}
                                {% include "partials/customizer.html" %}
                            {% endblock customizer %}
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
{% endblock main_title %}


{% block content %}
                    <div class="row">
                        <div class="col-12" id="icons"></div> <!-- end col-->
                    </div><!-- end row -->
{% endblock content %}

{% block extra_js %}

    <!-- materialdesign icon js-->
    <script src="{% static 'js/pages/remix-icons-listing.js' %}"></script>

{% endblock extra_js %}  
                
    

    