{% load static %}
<!doctype html>
<html lang="en" data-layout-width="boxed" data-topbar="dark" data-preloader="disable" data-card-layout="borderless" data-bs-theme="light" data-topbar-image="pattern-1">
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock title %} | Judia - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Minimal Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">

    <!-- App favicon -->
    <link rel="shortcut icon" href="https://img.themesbrand.com/judia/favicon.ico">

    {% block css %}
    {% block extra_css %}
    {% endblock extra_css %}

    <!-- Layout config Js -->
    <script src="{% static 'js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet" type="text/css">

    {% endblock css %}

</head>

{% block body %}
    <body>
{% endblock body %}


    <!-- Begin page -->
    <div id="layout-wrapper">

        {% block topbar %}
            {% include "c_partials/topbar.html" %}
        {% endblock topbar %}

        {% block pattern %}
            {% include "partials/pattern.html" %}
        {% endblock pattern %}
    
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!--  -->
                    {% block messages %}
                    <div class="messagelist fixed-top mt-5 me-lg-5 me-md-3">
                        <div class="row">
                            <div class="col-lg-6 col-md-5"></div>
                            <div class="col-lg-6 col-md-7">

                                {% if messages %}
                                    {% for message in messages %}
                                    {{message.extra_tags}}
                                    <div class="alert alert-border-left {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                                        {{ message|capfirst }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% endfor %}
                                {% endif %}                               
                            </div>
                        </div>
                    </div>
                    {% endblock messages %}

                {% block main_title %}

                {% endblock main_title %}


                {% block content %}

                {% endblock content %}

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            {% block footer %}
                <button class="btn btn-dark btn-icon" id="back-to-top">
                    <i class="bi bi-caret-up fs-3xl"></i>
                </button>
                {% include "c_partials/footer.html" %}
            {% endblock footer %}

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->


    {% block extra_content %}
    {% endblock extra_content %}

        {% block javascript %}
            <!-- JQUERY -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <!-- JAVASCRIPT -->
            <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
            <script src="{% static 'js/plugins.js' %}"></script>

            {% block extra_js %}
            {% endblock extra_js %}

            <!-- App js -->
            <script src="{% static 'js/app.js' %}"></script>

        {% endblock javascript %}

</body>

</html>

